USE [master]
GO
/****** Object:  Database [LIBRARY]    Script Date: 5/31/2022 9:36:40 PM ******/
CREATE DATABASE [LIBRARY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIBRARY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LIBRARY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIBRARY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LIBRARY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIBRARY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIBRARY]
GO
/****** Object:  Table [dbo].[AUTHER]    Script Date: 5/31/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHER](
	[A_ID] [int] NOT NULL,
	[A_NAME] [text] NULL,
	[A_EMAIL] [text] NULL,
 CONSTRAINT [PK_AUTHER] PRIMARY KEY CLUSTERED 
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 5/31/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[ISBN] [int] NOT NULL,
	[A_ID] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[S_ID] [int] NULL,
	[SHELF_NO] [int] NOT NULL,
	[FLOOR_NO] [int] NOT NULL,
	[TITLE] [text] NULL,
	[EDITION] [int] NULL,
	[PUBLISHER_NAME] [text] NULL,
	[RESERVE_DATE] [datetime] NULL,
	[DUE_DATE] [datetime] NULL,
	[RETURN_DATE] [datetime] NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KEEPS_TRACK_OF]    Script Date: 5/31/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KEEPS_TRACK_OF](
	[ID] [int] NOT NULL,
	[S_ID] [int] NOT NULL,
 CONSTRAINT [PK_KEEPS_TRACK_OF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REG_SYSTEM]    Script Date: 5/31/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REG_SYSTEM](
	[LOGIN_ID] [int] NOT NULL,
	[ID] [int] NULL,
	[PASSWORD] [text] NULL,
 CONSTRAINT [PK_REG_SYSTEM] PRIMARY KEY CLUSTERED 
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHELF]    Script Date: 5/31/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHELF](
	[SHELF_NO] [int] NOT NULL,
	[FLOOR_NO] [int] NOT NULL,
 CONSTRAINT [PK_SHELF] PRIMARY KEY CLUSTERED 
(
	[SHELF_NO] ASC,
	[FLOOR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 5/31/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [int] NOT NULL,
	[LOGIN_ID] [int] NULL,
	[NAME] [text] NULL,
	[EMAIL] [text] NULL,
	[PHONE_NO] [int] NULL,
	[SALARY] [int] NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 5/31/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[S_ID] [int] NOT NULL,
	[S_NAME] [text] NULL,
	[S_EMAIL] [text] NULL,
	[S_PHONE_NO] [int] NULL,
	[DEPT] [text] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AUTHER] ([A_ID], [A_NAME], [A_EMAIL]) VALUES (111, N'Alex Finlay', N'af@mail')
INSERT [dbo].[AUTHER] ([A_ID], [A_NAME], [A_EMAIL]) VALUES (112, N'Ashley Audrain', N'aa@mail')
INSERT [dbo].[AUTHER] ([A_ID], [A_NAME], [A_EMAIL]) VALUES (113, N'Will Burns', N'wb@mail')
GO
INSERT [dbo].[BOOK] ([ISBN], [A_ID], [ID], [S_ID], [SHELF_NO], [FLOOR_NO], [TITLE], [EDITION], [PUBLISHER_NAME], [RESERVE_DATE], [DUE_DATE], [RETURN_DATE]) VALUES (5000, 111, 202003, 20000, 2, 1, N'The Night Shift', 1, NULL, CAST(N'2022-01-01T00:00:00.000' AS DateTime), CAST(N'2022-05-01T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[BOOK] ([ISBN], [A_ID], [ID], [S_ID], [SHELF_NO], [FLOOR_NO], [TITLE], [EDITION], [PUBLISHER_NAME], [RESERVE_DATE], [DUE_DATE], [RETURN_DATE]) VALUES (5001, 111, 202006, 20005, 2, 1, N'Every Last Fear', 2, NULL, CAST(N'2022-06-07T00:00:00.000' AS DateTime), CAST(N'2022-08-09T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[BOOK] ([ISBN], [A_ID], [ID], [S_ID], [SHELF_NO], [FLOOR_NO], [TITLE], [EDITION], [PUBLISHER_NAME], [RESERVE_DATE], [DUE_DATE], [RETURN_DATE]) VALUES (5002, 112, 202008, NULL, 3, 2, N'The Push', 1, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[KEEPS_TRACK_OF] ([ID], [S_ID]) VALUES (202000, 20000)
INSERT [dbo].[KEEPS_TRACK_OF] ([ID], [S_ID]) VALUES (202001, 20001)
INSERT [dbo].[KEEPS_TRACK_OF] ([ID], [S_ID]) VALUES (202005, 20003)
GO
INSERT [dbo].[REG_SYSTEM] ([LOGIN_ID], [ID], [PASSWORD]) VALUES (0, NULL, N'0')
INSERT [dbo].[REG_SYSTEM] ([LOGIN_ID], [ID], [PASSWORD]) VALUES (202000, 202000, N'password0')
INSERT [dbo].[REG_SYSTEM] ([LOGIN_ID], [ID], [PASSWORD]) VALUES (202001, 202001, N'password1')
GO
INSERT [dbo].[SHELF] ([SHELF_NO], [FLOOR_NO]) VALUES (1, 1)
INSERT [dbo].[SHELF] ([SHELF_NO], [FLOOR_NO]) VALUES (1, 2)
INSERT [dbo].[SHELF] ([SHELF_NO], [FLOOR_NO]) VALUES (1, 3)
GO
INSERT [dbo].[STAFF] ([ID], [LOGIN_ID], [NAME], [EMAIL], [PHONE_NO], [SALARY]) VALUES (202000, 202000, N'Ahmed Yasser', N'ay@mail', 114875625, 3000)
INSERT [dbo].[STAFF] ([ID], [LOGIN_ID], [NAME], [EMAIL], [PHONE_NO], [SALARY]) VALUES (202001, 202001, N'Mohammed Ahmed', N'ma@mail', 114587512, 3500)
INSERT [dbo].[STAFF] ([ID], [LOGIN_ID], [NAME], [EMAIL], [PHONE_NO], [SALARY]) VALUES (202002, 202002, N'Alaa Mohammed', N'am@mail', 114951685, 2000)
GO
INSERT [dbo].[STUDENT] ([S_ID], [S_NAME], [S_EMAIL], [S_PHONE_NO], [DEPT]) VALUES (20000, N'Ahmed Yasser', N's_ay@mail', 114875621, N'DS')
INSERT [dbo].[STUDENT] ([S_ID], [S_NAME], [S_EMAIL], [S_PHONE_NO], [DEPT]) VALUES (20001, N'Mohammed Ahmed', N's_ma@mail', 114587511, N'CS')
INSERT [dbo].[STUDENT] ([S_ID], [S_NAME], [S_EMAIL], [S_PHONE_NO], [DEPT]) VALUES (20002, N'Alaa Mohammed', N's_am@mail', 114951681, N'BI')
GO
/****** Object:  Index [HAS_FK]    Script Date: 5/31/2022 9:36:41 PM ******/
CREATE NONCLUSTERED INDEX [HAS_FK] ON [dbo].[BOOK]
(
	[SHELF_NO] ASC,
	[FLOOR_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MAINTAIN_FK]    Script Date: 5/31/2022 9:36:41 PM ******/
CREATE NONCLUSTERED INDEX [MAINTAIN_FK] ON [dbo].[BOOK]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PUBLISHS_FK]    Script Date: 5/31/2022 9:36:41 PM ******/
CREATE NONCLUSTERED INDEX [PUBLISHS_FK] ON [dbo].[BOOK]
(
	[A_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [RESERVE_FK]    Script Date: 5/31/2022 9:36:41 PM ******/
CREATE NONCLUSTERED INDEX [RESERVE_FK] ON [dbo].[BOOK]
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [0_N_FK]    Script Date: 5/31/2022 9:36:41 PM ******/
CREATE NONCLUSTERED INDEX [0_N_FK] ON [dbo].[KEEPS_TRACK_OF]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [0_N2_FK]    Script Date: 5/31/2022 9:36:41 PM ******/
CREATE NONCLUSTERED INDEX [0_N2_FK] ON [dbo].[KEEPS_TRACK_OF]
(
	[S_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [0_1_FK]    Script Date: 5/31/2022 9:36:41 PM ******/
CREATE NONCLUSTERED INDEX [0_1_FK] ON [dbo].[REG_SYSTEM]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [0_2_FK]    Script Date: 5/31/2022 9:36:41 PM ******/
CREATE NONCLUSTERED INDEX [0_2_FK] ON [dbo].[STAFF]
(
	[LOGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_HAS_SHELF] FOREIGN KEY([SHELF_NO], [FLOOR_NO])
REFERENCES [dbo].[SHELF] ([SHELF_NO], [FLOOR_NO])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_HAS_SHELF]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_MAINTAIN_STAFF] FOREIGN KEY([ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_MAINTAIN_STAFF]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_PUBLISHS_AUTHER] FOREIGN KEY([A_ID])
REFERENCES [dbo].[AUTHER] ([A_ID])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_PUBLISHS_AUTHER]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_RESERVE_STUDENT] FOREIGN KEY([S_ID])
REFERENCES [dbo].[STUDENT] ([S_ID])
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_RESERVE_STUDENT]
GO
ALTER TABLE [dbo].[KEEPS_TRACK_OF]  WITH CHECK ADD  CONSTRAINT [FK_KEEPS_TR_0_N_STAFF] FOREIGN KEY([ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[KEEPS_TRACK_OF] CHECK CONSTRAINT [FK_KEEPS_TR_0_N_STAFF]
GO
ALTER TABLE [dbo].[KEEPS_TRACK_OF]  WITH CHECK ADD  CONSTRAINT [FK_KEEPS_TR_0_N2_STUDENT] FOREIGN KEY([S_ID])
REFERENCES [dbo].[STUDENT] ([S_ID])
GO
ALTER TABLE [dbo].[KEEPS_TRACK_OF] CHECK CONSTRAINT [FK_KEEPS_TR_0_N2_STUDENT]
GO
ALTER TABLE [dbo].[REG_SYSTEM]  WITH CHECK ADD  CONSTRAINT [FK_REG_SYST_0_1_STAFF] FOREIGN KEY([ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[REG_SYSTEM] CHECK CONSTRAINT [FK_REG_SYST_0_1_STAFF]
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD  CONSTRAINT [FK_STAFF_0_2_REG_SYST] FOREIGN KEY([LOGIN_ID])
REFERENCES [dbo].[REG_SYSTEM] ([LOGIN_ID])
GO
ALTER TABLE [dbo].[STAFF] CHECK CONSTRAINT [FK_STAFF_0_2_REG_SYST]
GO
USE [master]
GO
